<!-- fragment 1 start -->
<table class="w-full">
  <tr>
    <td>
      <div class="bg-white rounded mx-auto p-8"> 
        <img src="product.png" src-production="images/product.png" alt="Product" class="w-[100px] block mx-auto">
        <h3 class="text-lg font-semibold mb-2 text-center text-primary">Nisi ut ade</h3>
        <p class="text-center text-base leading-tight text-black">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </td>
  </tr>
</table>
<!-- fragment 1 end -->
