<!-- fragment 3 start -->
<table class="w-full">
  <tr>
    <td
      class="text-lg text-primary leading-[16px] px-base pt-[24px] align-center-table font-bold"
    >
      SAMPLE FRAGMENT WITH Tokens
    </td>
  </tr>
  <tr>
    <td
      class="px-[20px] pt-[20px] pb-[32px] text-[12px] text-[#000049] text-justify"
    >
      <table class="w-full">
        <tr>
          <td
            class="bg-secondary text-white font-bold align-center-table py-vertical"
          >
            token
          </td>
          <td
            class="bg-secondary text-white font-bold align-center-table py-vertical"
          >
            description
          </td>
        </tr>
        <tr>
          <td class="p-[10px]">
            {{userName}} <br />
            <br />
            {{User.Department}} <br />
            <br />
            {{User.CompanyName}}
          </td>
          <td class="p-[10px]">
            Name of Rep (user) <br />
            <br />
            Name of user Dapartment <br />
            <br />
            Name of user Company
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="align-center-table">
      <table role="separator">
        <tr>
          <td class="w-[330px] align-center-table py-base">
            <div class="bg-secondary leading-[2px] text-[2px]">&zwj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- fragment 3 end -->
