<!-- fragment CTA start -->
<table class="w-full bg-secondary">
  <tr>
    <td
      class="px-base pt-[20px] pb-[32px] text-[12px] text-white font-bold text-justify"
    >
      This is an example of an email fragment designed to include a Call to
      Action (CTA) button. The purpose of this fragment is to guide the
      recipient towards taking a specific action, such as clicking a button to
      learn more, sign up for a service, or make a purchase. The CTA is
      strategically placed to be visually prominent and compelling, encouraging
      engagement and driving the desired response from the recipient.
    </td>
  </tr>
  <tr>
    <td class="align-center-table py-base">
      <x-button
        width="250"
        height="40"
        leading="24"
        padding="8px 20px"
        rounded="100"
        bgColor="#FFFFFF"
        CTA
        class="font-bold text-primary xs:w-full cursor-pointer"
        >CLICK ME
      </x-button>
    </td>
  </tr>
</table>
<!-- fragment CTA end -->
