<!-- fragment Medicine Sample start -->
<table class="w-full">
  <tr>
    <td
      class="text-lg text-primary leading-[16px] px-base pt-[24px] align-center-table font-bold"
    >
      SAMPLE FRAGMENT WITH PICTURE
    </td>
  </tr>
  <tr>
    <td class="text-md text-primary leading-[16px] px-base pt-[24px]">
      sample fragment, designed to illustrate the inclusion of visual and
      textual elements for communication purposes. Within this email, you'll
      find an image depicting a specific medicine, carefully chosen to provide a
      visual representation of the product. Accompanying the image is a concise
      description that offers essential information about the medicine,
      highlighting its intended use and key benefits. This format aims to
      effectively convey important details to the recipient, ensuring clarity
      and engagement.
    </td>
  </tr>
  <tr>
    <td class="pb-[6px] align-center-table py-vertical">
      <x-image class="w-[300px]" imgUrl="image-5.jpg" href="#" />
    </td>
  </tr>
  <tr>
    <td class="align-center-table text-xs pb-vertical">
      ↑ image in .jpg format
    </td>
  </tr>
  <tr>
    <td class="align-center-table">
      <table role="separator">
        <tr>
          <td class="w-[330px] align-center-table py-base">
            <div class="bg-secondary leading-[2px] text-[2px]">&zwj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- fragment Medicine Sample end -->
