<table class="w-full">
  <tr>
    <td class="pb-5 sm:pb-8">
      <img src="Hero.png" alt="Banner" class="w-[560px] block sm:w-full">
      <h1 class="text-2xl text-center text-primary px-4 my-6">Excepteur sint occaecat cupidatat</h1>
      <p class="text-base text-center px-4 leading-tight mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a
            href="#"
            _label="CTA"
            target="_blank"
            class="block py-4 px-6 text-white text-center text-xl no-underline bg-green rounded-lg font-bold w-[350px] mx-auto sm:w-[335px]"
          >
          Ut enim ad minim veniam
      </a>
  </tr>
</table>
