<table class="w-full">
  <tr>
    <td
      class="text-lg text-secondary font-bold align-center-table px-base pt-[24px]"
    >
      ↑ You should see FRAGMENTS above ↑
    </td>
  </tr>
  <tr>
    <td class="text-[14px] text-[#000049] leading-[16px] px-[20px] py-[24px]">
      <table class="w.full">
        <tr>
          <td
            class="w-[160px] text-[14px] text-[#000049] sm:w-full sm:inline-block"
          >
            {{userPhoto}}
          </td>
          <td
            class="text-[14px] text-[#000049] leading-[20px] pl-[20px] sm:w-full sm:inline-block sm:pl-[0px]"
          >
            {{userName}} <br />Health Representative <br /><br /><br />Mobile:
            <a
              href="#"
              style="
                color: #000049;
                text-decoration: none;
                pointer-events: none;
              "
              >{{User.MobilePhone}}</a
            >
            <br />Email:
            <a
              href="#"
              style="
                color: #000049;
                text-decoration: none;
                pointer-events: none;
              "
              >{{userEmailAddress}}</a
            ><br /><a class="underline text-[#215e9e]" href="www.company.be"
              >www.company.be</a
            >
            <span class="text-[#215e9e]"> - </span>
            <a class="underline text-[#215e9e]" href="www.company.be"
              >www.company.be</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="w-full">
        <tr>
          <td
            class="px-[20px] pt-[20px] pb-[32px] bg-[#f1f1f6] text-[12px] text-[#000049] text-justify"
          >
            If you prefer not to receive similar emails from us in the future,
            we understand and respect your decision. Our goal is to ensure that
            our communications are relevant and useful to you. You can easily
            manage your email preferences or opt-out of future correspondence at
            any time. All you have to do is to click:
            <a
              href="{{unsubscribe_product_link[,BE_PBG]}}"
              class="underline text-[#215e9e]"
              >unsubscribe</a
            >. <br /><br />
            In case of other issues, you can also click:

            <a
              class="underline text-[#215e9e]"
              href="https://privacycenter.company.com"
              >https://privacycenter.company.com</a
            >
            or:
            <a
              href="mailto:bel.aereporting@company.com?subject=Re:Sample RTE for tests"
              class="underline text-[#215e9e]"
              >bel.aereporting@company.com</a
            >
            <br /><br /><br /><b>4030201 – October 2024</b>
          </td>
        </tr>
        <tr>
          <td class="pb-[6px] pt-[20px] align-center-table text-xs">
            ↓ logo in jpeg format
          </td>
        </tr>
        <tr>
          <td class="pb-[20px] align-center-table">
            <x-image class="w-100px]" imgUrl="image-4.jpeg" href="#" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
