<table class="w-full">
  <tr>
    <td class="pb-[6px]">
      <x-image class="w-[600px]" imgUrl="image-1.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="align-center-table text-xs pb-vertical">
      ↑ banner in .png format
    </td>
  </tr>
  <tr>
    <td class="px-base pt-base pb[6px]">
      <x-image class="w-[100px]" imgUrl="image-2.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="text-xs pb-vertical pl-base">
      ↑ transparent logo in .png format
    </td>
  </tr>
  <tr>
    <td class="px-base pt-[24px] text-md text-primary">
      {{customText[Hello|Dear| ]}} {{customText[Doctor|Professor|Mr.|Mrs.| ]}}
      {{customText[##accLname##|##accFname##|##accLname## ##accFname##| ]}}
    </td>
  </tr>
  <tr>
    <td class="text-md text-primary leading-[16px] px-base pt-[24px]">
      This is an example Rep Targeting Email (RTE) created for a Maizzle boilerplate for
      the content factory project<span class="sup">®</span>.
    </td>
  </tr>
  <tr>
    <td class="text-md text-primary leading-[16px] px-base pt-[24px]">
      It is intended solely for testing purposes and should be used as a
      reference for structuring and formatting similar communications. Please
      note that this is a template and not meant for actual deployment. Feel
      free to modify and adapt it as needed for your development and testing
      workflows.
    </td>
  </tr>
  <tr>
    <td class="pt-[24px] pb-[4px]">
      <x-image class="w-[600px]" imgUrl="image-3.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="align-center-table text-xs">
      ↑ transparent table in .png format
    </td>
  </tr>
  <tr>
    <td class="text-md text-primary leading-[16px] px-base pt-[24px]">
      Reach out to our team without hesitation. We're here to support your
      coding quest, Ensuring our projects meet the highest test. Remember, this
      is a sample to guide, In the pursuit of excellence, side by side.
    </td>
  </tr>
  <tr>
    <td class="text-md text-primary leading-[16px] px-base pt-[24px]">
      Your creativity and skill play a vital role, In achieving the goals that
      make us whole. We're grateful for your dedication and skill, Together, we
      innovate and build at will. This template lays the groundwork you need, To
      help our projects grow and succeed.
    </td>
  </tr>
  <tr>
    <td
      class="text-lg text-secondary font-bold align-center-table px-base pt-[24px]"
    >
      ↓ Below you should see FRAGMENTS ↓
    </td>
  </tr>
</table>
